.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
  }

  @media screen and (max-width: 1084x){
    .header {
      padding: 45px 0 30px 50px;
    }
  }

  @media screen and (max-width: 984px){
    .header {
      padding: 45px 0 30px  24px;
    }
  }

  @media screen and (max-width: 568px){
    .header {
      padding: 28px 190px 32px 27px;
    }
  }