.header__logo-image {
  display: block;
  width: 142px;
  height: 33px;
  
}

.header__logo-image:hover {
  transition: opacity 1s linear;
  opacity: 0;
}

@media screen and (max-width: 640px) {
  .header__logo-image {
    max-width: 103.74px;
    max-height: 24.4px;
  }
}