.profile__name {
  max-width: 240px;
  margin: 0 10px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

@media screen and (min-width: 1024px) {
  .profile__name {
    max-width: 500px;
    margin-right: 18px;
    font-size: 42px;
    line-height: 48px;

  }
}