.element__like_set{
    background:  center/auto url(../../../images/like-button-active.svg) no-repeat;
    margin: auto 30px auto 0;
    border:none;
    width: 20.7px;
    height: 18.13px;
    opacity: 1;
  transition: 0.3s;
  background-size:100%;
    
}