.popup__button_submit {
    min-width: 368px;
    min-height: 50px;
    margin: 36px;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    opacity: 1;
    border: 1px solid #C4C4C4;
}

.popup__button_submit:hover {
    cursor: url(../../../../images/cursor.png), default;
    opacity: .8;
    transition: opacity .5s;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .popup__button_add {
        min-width: 200px;
        margin: 0 auto 25px;
    }
}